<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/howtos/sail">Sail</a></li>
                <li><a href="/howtos/leading-edge">Leading edge</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div>
        <footer>
            <ul>
                <li><a href="mailto:info@wingworks.de">email</a></li>
            </ul>
        </footer>
    </body>
</html>