--- 
layout: default 
---

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <h1 class="header center orange-text">How to sew a Kite</h1>
    <br>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Getting started</h5>
          <p class="light center">Prepare the material<br />
          <a href="/howtos/kite-sewing/getting-started.html">more</a> (<a href="/howtos/kite-sewing/en/getting-started.html">en</a>)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">Sail</h5>
          <p class="light center">Sew the sail<br />
          <a href="/howtos/kite-sewing/sail.html">more</a> (<a href="/howtos/kite-sewing/en/sail.html">en</a>)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Leading Edge</h5>
          <p class="light center">Sew the leading edge<br />
          <a href="/howtos/kite-sewing/leading-edge.html">more</a> (<a href="/howtos/kite-sewing/en/leading-edge.html">en</a>)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Struts</h5>
          <p class="light center">Sew the struts<br />
          <a href="/howtos/kite-sewing/getting-started.html">more</a> (<a href="/howtos/kite-sewing/en/getting-started.html">en</a>)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">Bridle</h5>
          <p class="light center">Build the bridle<br />
          <a href="/howtos/kite-sewing/sail.html">more</a> (<a href="/howtos/kite-sewing/en/sail.html">en</a>)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Finish</h5>
          <p class="light center">Join sail and tubes<br />
          <a href="/howtos/kite-sewing/leading-edge.html">more</a> (<a href="/howtos/kite-sewing/en/leading-edge.html">en</a>)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Bladder</h5>
          <p class="light center">Weld the bladder<br />
          <a href="/howtos/kite-sewing/getting-started.html">more</a> (<a href="/howtos/kite-sewing/en/getting-started.html">en</a>)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">Testflight</h5>
          <p class="light center">Your first flight<br />
          <a href="/howtos/kite-sewing/sail.html">more</a> (<a href="/howtos/kite-sewing/en/sail.html">en</a>)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Trim</h5>
          <p class="light center">Trim th ekite<br />
          <a href="/howtos/kite-sewing/leading-edge.html">more</a> (<a href="/howtos/kite-sewing/en/leading-edge.html">en</a>)</p>
        </div>
      </div>
    </div>
  </div>
</div>
