--- layout: default ---

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <h1 class="header center orange-text">Kite Sewing HowTo</h1>
    <br>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Getting started</h5>
          <p class="light">Prepare the material</p>
          <p><a href="/howtos/kite-sewing/getting-started.html">[more]</a></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">Sail</h5>
          <p class="light">Sew the sail</p>
          <p><a href="/howtos/kite-sewing/sail.html">[more]</a></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Leading Edge</h5>
          <p class="light">Sew the leading edge</p>
          <p><a href="/howtos/kite-sewing/leading-edge.html">[more]</a></p>
        </div>
      </div>
    </div>
  </div>
</div>